/* Footer bootstrap settings  */
.bg-foot  {
    background-color: #024272 !important;
    height: 45px;
    position: relative;
}

/* Font-Awesome Chart setting */
.fa-2x {
    vertical-align: middle;
    padding-left: 20px;
    color: whitesmoke;
    font-size: 40px !important;
  }
  
/* Text formatting  */
#text {
    font-family: tahoma;
    padding-left: 10px;
    font-size: 13px;
    line-height: 13px;
    text-align: left;
    color:whitesmoke;
    vertical-align: middle;
    display: inline-block;
    width: 1100px;
  }

/* Link formatting */
a {
    color: white !important;
  }