<nav class="navbar navbar-expand-sm bg-foot navbar-dark">
  <i class="fas fa-chart-bar fa-2x"></i>
    <span id="text">All data based on <i>Small Business Achievements by Awarding
        Organization Report</i> in <u><a href="https://www.fpds.gov">FPDS-NG</a></u> which applies the 
        <u><i><a href="https://www.fpds.gov/Reports/manage/html/preview_Small_Business_Achievements_by_Awarding_Organization_Report.html">
        Small Business Goaling Exclusions</a></i></u> including the removal of Status of Force Agreement (SOFA)
        Place of Performance Awards.
    </span>
</nav>