<div class="footer">
  <nav class="navbar navbar-dark" style="background-color: #024272;">
      <div class="navbar-expand m-auto navbar-text">
        <i class="fas fa-chart-bar fa-2x"></i>
          <span id="text"> Data based on <i>Small Business Achievements by Awarding
              Organization Report</i> in <u><a href="https://www.fpds.gov">FPDS-NG</a></u> as of {{datePrint}}.
              <i><a href="https://www.fpds.gov/Reports/manage/html/preview_Small_Business_Achievements_by_Awarding_Organization_Report.html">
              Small Business Goaling Exclusions</a></i> have been applied to the data including the removal of Status of Force Agreement (SOFA)
              Place of Performance Awards.
          </span>
      </div>
  </nav>
  </div>
  