<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand" href="/performance" style="text-align: center">
    <img src="assets/img/smallHeaderLogos_v2.png"></a>
        <div class="navbar-expand mr-auto">
          <div class="navbar-nav">
          <div class="dropdown show">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dashboards
          </button>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                <!-- <a class="dropdown-item" href="/sb_dash_fy20/NavyOverall">Navy Overall</a> -->
              <!-- <li class="dropdown-submenu"> -->
                  <li class="dropdown-submenu">
                      <a class="dropdown-item" tabindex="-1" href="/sb_dash_fy20/NavyOverall">Navy Overall</a>
                      <ul class="dropdown-menu">
                        <li class="dropdown-item2"><a tabindex="-1" href="#">SBIR Related</a></li>
                      </ul>
                    </li>

              <!-- </li> -->
              <li class="dropdown-submenu">
                <a class="dropdown-item" tabindex="-1" href="/sb_dash_fy20/HQMCIL">HQMC,I&L</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item2"><a tabindex="-1" href="#">UIC level</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item" tabindex="-1" href="/sb_dash_fy20/MCSC">MCSC</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item2"><a tabindex="-1" href="#">UIC level</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item" tabindex="-1" href="/sb_dash_fy20/MSC">MSC</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item2"><a tabindex="-1" href="#">UIC level</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item" tabindex="-1" href="/sb_dash_fy20/NAVAIR">NAVAIR</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item2"><a tabindex="-1" href="#">UIC level</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item" tabindex="-1" href="/sb_dash_fy20/NAVFAC">NAVFAC</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item2"><a tabindex="-1" href="#">UIC level</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item" tabindex="-1" href="/sb_dash_fy20/NAVSEA">NAVSEA</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item2"><a tabindex="-1" href="#">UIC level</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item" tabindex="-1" href="/sb_dash_fy20/NAVSUP">NAVSUP</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item2"><a tabindex="-1" href="#">UIC level</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item" tabindex="-1" href="/sb_dash_fy20/NAVWAR">NAVWAR</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item2"><a tabindex="-1" href="#">UIC level</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item" tabindex="-1" href="/sb_dash_fy20/ONR">ONR</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item2"><a tabindex="-1" href="#">UIC level</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item" tabindex="-1" href="/sb_dash_fy20/SSP">SSP</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item2"><a tabindex="-1" href="#">UIC level</a></li>
                </ul>
              </li>
            </ul>
            </div>
         
          <div class="dropdown show">
              <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Summary Data
                </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="/sumTab/NavyOverall">Navy Overall</a>
                  <a class="dropdown-item" href="/sumTab/MCSC">MCSC</a>
                  <a class="dropdown-item" href="/sumTab/MSC">MSC</a>
                  <a class="dropdown-item" href="/sumTab/NAVAIR">NAVAIR</a>
                  <a class="dropdown-item" href="/sumTab/NAVFAC">NAVFAC</a>
                  <a class="dropdown-item" href="/sumTab/NAVSEA">NAVSEA</a>
                  <a class="dropdown-item" href="/sumTab/NAVSUP">NAVSUP</a>
                  <a class="dropdown-item" href="/sumTab/NAVWAR">NAVWAR</a>
                  <a class="dropdown-item" href="/sumTab/ONR">ONR</a>
                  <a class="dropdown-item" href="/sumTab/SSP">SSP</a> 
                </ul>
          </div>
        <!-- </div> -->
          <div class="dropdown show">
              <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Spending Maps
                </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="https://maps.certify.sba.gov/hubzone/map#center=39.828200,-98.579500&zoom=5">Overall</a>   
                <a class="dropdown-item" href="https://maps.certify.sba.gov/hubzone/map#center=39.828200,-98.579500&zoom=5">SB</a>                        
                <a class="dropdown-item" href="https://maps.certify.sba.gov/hubzone/map#center=39.828200,-98.579500&zoom=5">SDB</a>
                <a class="dropdown-item" href="https://maps.certify.sba.gov/hubzone/map#center=39.828200,-98.579500&zoom=5">SDVO</a>
                <a class="dropdown-item" href="https://maps.certify.sba.gov/hubzone/map#center=39.828200,-98.579500&zoom=5">WOSB</a>
                <a class="dropdown-item" href="https://maps.certify.sba.gov/hubzone/map#center=39.828200,-98.579500&zoom=5">HUBZone</a>   
              </div>
          </div>
          <div class="dropdown show">
              <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  E-Z Search
                </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="https://www.fpds.gov/common/jsp/easySearchView.jsp?undefined=undefined">Navy Only</a>     
                <a class="dropdown-item" href="https://www.fpds.gov/common/jsp/easySearchView.jsp?undefined=undefined">DoD Wide</a>   
                <a class="dropdown-item" href="https://www.fpds.gov/common/jsp/easySearchView.jsp?undefined=undefined">Fed Wide</a>   
              </div>
          </div>
          <div class="dropdown show">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Methodology
              </button>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
              <a class="dropdown-item" href="/src/assets/files/fpdsMeth_20181127.pptx" download="Dashboard_Methodology_20181127.pptx">Dashboard</a>
              <a class="dropdown-item" href="/src/asset/files/FY20_SBIR_Changes_20191002.docx" download="FY20_SBIR_Changes_20191002.docx">SBIR</a>
              <a class="dropdown-item" href="#">Mapping</a>
              <!-- <li class="dropdown-divider"></li>
              <ul class="dropdown-submenu">
                <a class="dropdown-item" href="#">Hover me for more options</a>
                <a class="dropdown-menu"></a>
                  <li class="dropdown-item"><a href="#">Second level</a></li>
                  <li class="dropdown-submenu">
                    <a class="dropdown-item" href="#">Even More..</a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-item"><a href="#">3rd level</a></li>
                      <li class="dropdown-submenu"><a class="dropdown-item" href="#">another level</a>
                        <ul class="dropdown-menu">
                          <li class="dropdown-item"><a href="#">4th level</a></li>
                          <li class="dropdown-item"><a href="#">4th level</a></li>
                          <li class="dropdown-item"><a href="#">4th level</a></li>
                        </ul>
                      </li>
                      <li class="dropdown-item"><a href="#">3rd level</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item"><a href="#">Second level</a></li>
                  <li class="dropdown-item"><a href="#">Second level</a></li>
                <</ul> 
              </ul -->
            </ul> 
           </div>
        </div>
</div>
</nav>