.navbar {
  background-color: #024272 !important;
  position: fixed;
  width: 100%;
  height: 100px;
  /* opacity: 0.7; */
  z-index: 1;
  top: 0;
  left: 0;
}

/* Header title */
.navbar-brand {
  font-family: tahoma !important;
  font-size: 20px !important;
  padding-left: 10px;
  color:whitesmoke !important;
  vertical-align: middle;
}

/* MajCom dropdown box */
.navbar-nav {
  font-family: tahoma !important;
  padding-left: 10px !important;
  vertical-align: middle;
} 

/* MajCom dropdown list heading */
.dropdown-toggle {
  font-size: 18px !important;
  background-color: #024272 !important;
  border-color:white !important;
  font-weight: 600 !important;
}

/* Needed to match small dropdown box to items */
.dropdown-menu {
  background-color: #024272 !important;
}

/* MajCom list item text */
.dropdown-item {
  font-family: tahoma !important;
  font-size: 18px !important;
  width: auto !important;
  background-color: #024272 !important;
  color:whitesmoke !important;
  text-align: left !important;
}

/* SubMenu */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}