.navbar {
  background-color: #024272 !important;
  position: fixed;
  width: 100%;
  height: 100px;
  /* opacity: 0.7; */
  z-index: 1;
  top: 0;
  left: 0;
}

/* Header title */
.navbar-brand {
  font-family: tahoma !important;
  font-size: 20px !important;
  padding-left: 10px;
  color:whitesmoke !important;
  vertical-align: middle;
}

/* MajCom dropdown box */
.navbar-nav {
  font-family: tahoma !important;
  padding-left: 10px !important;
  vertical-align: middle;
} 

/* MajCom dropdown list heading */
.dropdown-toggle {
  font-size: 18px !important;
  background-color: #024272 !important;
  border-color:white !important;
  font-weight: 600 !important;
}

/* Needed to match small dropdown box to items */
.dropdown-menu {
  background-color: #024272 !important;
}

/* MajCom list item text */
.dropdown-item {
  font-family: tahoma !important;
  font-size: 18px !important;
  width: auto !important;
  background-color: #024272 !important;
  color:whitesmoke !important;
  text-align: left !important;
}