<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand" href="/performance" style="text-align: center">
    <img src="assets/img/smallHeaderLogos_v2.png"></a>
        <div class="navbar-expand mr-auto">
          <div class="navbar-nav">
          <div class="dropdown show">
              <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dashboards
                </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/sb_dash_fy19/NavyOverall">Navy Overall</a>                        
                <a class="dropdown-item" href="/sb_dash_fy19/HQMCIL">HQMC,I&L</a>
                <a class="dropdown-item" href="/sb_dash_fy19/MCSC">MCSC</a>
                <a class="dropdown-item" href="/sb_dash_fy19/MSC">MSC</a>
                <a class="dropdown-item" href="/sb_dash_fy19/NAVAIR">NAVAIR</a>
                <a class="dropdown-item" href="/sb_dash_fy19/NAVFAC">NAVFAC</a>
                <a class="dropdown-item" href="/sb_dash_fy19/NAVSEA">NAVSEA</a>
                <a class="dropdown-item" href="/sb_dash_fy19/NAVSUP">NAVSUP</a>
                <a class="dropdown-item" href="/sb_dash_fy19/ONR">ONR</a>
                <a class="dropdown-item" href="/sb_dash_fy19/SPAWAR">SPAWAR</a>
                <a class="dropdown-item" href="/sb_dash_fy19/SSP">SSP</a>
              </div>
          </div>
          <div class="dropdown show">
              <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  YTD Data
                </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/sumTab/sbGoals">YTD Goals</a>                        
                <a class="dropdown-item" href="/sumTab/sepSpends">SEP Spends</a>
                <a class="dropdown-item" href="/sumTab/uicSpends">UIC Spends</a>
              </div>
          </div>
          <div class="dropdown show">
              <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Spending Maps
                </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Overall</a>   
                <a class="dropdown-item" href="#">SB</a>                        
                <a class="dropdown-item" href="#">SDB</a>
                <a class="dropdown-item" href="#">SDVO</a>
                <a class="dropdown-item" href="#">WOSB</a>
                <a class="dropdown-item" href="#">HUBZone</a>   
              </div>
          </div>
          <div class="dropdown show">
              <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  EZ Search
                </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Navy Only</a>     
                <a class="dropdown-item" href="#">DoD Wide</a>   
                <a class="dropdown-item" href="#">Fed Wide</a>   
              </div>
          </div>
        </div>
    </div>
</nav>
