<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand" href="/performance" style="text-align: center">
    <img src="assets/img/smallHeaderLogos_v2.png"></a>
        <div class="navbar-expand mr-auto">
          <div class="navbar-nav">
          <div class="dropdown show">
              <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dashboards
                </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/sb_dash_fy20/NavyOverall">Navy Overall</a>                        
                <a class="dropdown-item" href="/sb_dash_fy20/HQMCIL">HQMC,I&L</a>
                <a class="dropdown-item" href="/sb_dash_fy20/MCSC">MCSC</a>
                <a class="dropdown-item" href="/sb_dash_fy20/MSC">MSC</a>
                <a class="dropdown-item" href="/sb_dash_fy20/NAVAIR">NAVAIR</a>
                <a class="dropdown-item" href="/sb_dash_fy20/NAVFAC">NAVFAC</a>
                <a class="dropdown-item" href="/sb_dash_fy20/NAVSEA">NAVSEA</a>
                <a class="dropdown-item" href="/sb_dash_fy20/NAVSUP">NAVSUP</a>
                <a class="dropdown-item" href="/sb_dash_fy20/NAVWAR">NAVWAR</a>
                <a class="dropdown-item" href="/sb_dash_fy20/ONR">ONR</a>
                <a class="dropdown-item" href="/sb_dash_fy20/SSP">SSP</a>
              </div>
          </div>
          

          <!-- <div class="dropdown show">
              <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Summary Data
                </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="/sumTab/NavyOverall">Navy Overall</a>
                  <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">HQMC,I&L</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">GO TO HELL</a></li>
                    <li><a class="dropdown-item" href="#">Submenu0</a></li>
                  </ul>
                  </li> -->
                  <!-- <a class="dropdown-item" href="/sumTab/MCSC">MCSC</a>
                  <a class="dropdown-item" href="/sumTab/MSC">MSC</a>
                  <a class="dropdown-item" href="/sumTab/NAVAIR">NAVAIR</a>
                  <a class="dropdown-item" href="/sumTab/NAVFAC">NAVFAC</a>
                  <a class="dropdown-item" href="/sumTab/NAVSEA">NAVSEA</a>
                  <a class="dropdown-item" href="/sumTab/NAVSUP">NAVSUP</a>
                  <a class="dropdown-item" href="/sumTab/NAVWAR">NAVWAR</a>
                  <a class="dropdown-item" href="/sumTab/ONR">ONR</a>
                  <a class="dropdown-item" href="/sumTab/SSP">SSP</a> -->

                <!-- </ul> -->
          <!-- </div> -->
        <!-- </div> -->
          <div class="dropdown show">
              <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Spending Maps
                </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Overall</a>   
                <a class="dropdown-item" href="#">SB</a>                        
                <a class="dropdown-item" href="#">SDB</a>
                <a class="dropdown-item" href="#">SDVO</a>
                <a class="dropdown-item" href="#">WOSB</a>
                <a class="dropdown-item" href="#">HUBZone</a>   
              </div>
          </div>
          <div class="dropdown show">
              <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  E-Z Search
                </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Navy Only</a>     
                <a class="dropdown-item" href="#">DoD Wide</a>   
                <a class="dropdown-item" href="#">Fed Wide</a>   
              </div>
          </div>
        </div>
    </div>


<div class="container">
  <div class="row">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
        </button>
      <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
        <li class="dropdown-item"><a href="#">Some action</a></li>
        <li class="dropdown-item"><a href="#">Some other action</a></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-submenu">
          <a class="dropdown-item" tabindex="-1" href="#">Hover me for more options</a>
          <ul class="dropdown-menu">
            <li class="dropdown-item"><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">Even More..</a>
              <ul class="dropdown-menu">
                <li class="dropdown-item"><a href="#">3rd level</a></li>
                <li class="dropdown-submenu"><a class="dropdown-item" href="#">another level</a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-item"><a href="#">4th level</a></li>
                    <li class="dropdown-item"><a href="#">4th level</a></li>
                    <li class="dropdown-item"><a href="#">4th level</a></li>
                  </ul>
                </li>
                <li class="dropdown-item"><a href="#">3rd level</a></li>
              </ul>
            </li>
            <li class="dropdown-item"><a href="#">Second level</a></li>
            <li class="dropdown-item"><a href="#">Second level</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
</nav>