@import "~bootstrap/dist/css/bootstrap.css";
/* @import "~font-awesome/css/font-awesome.css"; */
@import "@fortawesome/fontawesome-free/css/all.css";

body {
  height: 950px !important;
  font-family: tahoma !important; 
  vertical-align: left;
  margin: 0;
  padding-top: 100px !important;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 13px !important;
  /* line-height: 1px !important; */
  color:black;
  background-color: white;
}


#test {
  height: 1050px !important;
}

h5 {
  font-weight: bold;
}

.back-image {
  background-image: url("/assets/img/NAVAIR-logo22.png");
  height: 100px;
}

td.logo {
  /* position: relative !important; */
  /* display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;*/
    /* position:absolute !important;   */
  width: 2% !important;
  /* height:100% !important; */
  text-align: center !important; 
  vertical-align: top !important;
   /* z-index: 9999 !important;  */
  /* padding-left: 130px !important;   */
}

td.date {
  position: relative !important; 
  text-align: middle !important;
  /* padding-left: 140px !important; */
  font-size: 18px !important;
  font-weight: bold !important;
}

td.title {
  font-size: 15px !important;
  padding: 0px !important;
  /* padding-top: 12px !important; */
  font-weight: bold !important;
  position: relative !important;
  /* line-height: 16px !important; */
}

td.offset {
  position: absolute !important;
  left: 570.5px !important;
}

/* div.container {
  width: 700px !important;
} */

/* .advanced-pie {
  width: 300px !important;
}
*/
 /* .pie-chart-container {
  height: 300px; 
  width: 10% !important;
  min-width: 300px; 
  display: block;
  background: #999;
}   */


/* .advanced-pie-legend {
  width: 400px !important;
} */

/* .advanced-pie-chart {
  width: 600px !important;
} */
/*
 .advanced-pie-legend-wrapper {
  width: 400px !important;
  height: 260px !important;
} 

.advanced-pie-legend {
  width:200px !important;
} */

/* Total value format  */
.advanced-pie-legend .total-value {
  font-size: 20px !important;
  line-height: 1.005 !important;
}

/* Total spend format  */
.advanced-pie-legend .total-label {
  font-size: 22px !important;
  line-height: 1.5 !important;
  margin-bottom: 0.75px !important; 
}

/* OTSB-SB Breakdown */
.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-value {
  margin-left: 0px !important; 
  font-size: 19px !important;
  margin-top: 0 !important;
}
/* Size of color bands */
.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-color {
  height: 50px !important;
  /* width: 20px !important; */
}

/* OTSB SB Labels  */
.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-label {
  /* line-height: 1 !important; */
  font-size: 14px !important;
  margin-left: 0px !important;
  margin-top: 0px !important;
  opacity: 100 !important;
} 

/* Percentage breakdown labels */
.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-percent {
  font-size: 0px !important;
  opacity: 100 !important;
  margin-left: 0px !important;
}

/* SB OTSB Product Service Breakdown */
.gridline-path {
  stroke: grey !important;
  /* stroke-dasharray: 5 !important; */
  stroke-width: 3 !important;
}

.chart-legend .legend-labels {
background: white !important;
 color: black !important; 
}

.chart-legend .legend-label {
  background: white !important;
  font-size: 22px !important;
  color: black !important;
}

.chart-legend .legend-label-text {
  font-size: 14px !important;
  line-height: 29px !important;
}

.chart-legend .legend-label-color {
  padding-bottom: 20px !important;
  height: 30px !important;
  width: 30px !important;
}

.chart-legend li {
  padding-top: 2px !important;
}

.reading-label {
  font-weight: 600 !important;
  font-size: 12px !important;
  color: black !important;
}

/* Card labels  */
.cell .trimmed-label p {
  font-size: 15px !important;
  line-height: 20px !important;
}

/* Card spend values */
.cell .value-text  {
  font-size: 20px !important;
}

/* Portfolio Group Labels */
.tree-map .label {
  font-weight: 650 !important;
  font-size: 13px !important;
}
/* Wrap labels */
.tree-map .label span {
  white-space: normal !important;
}
.tree-map .treemap-val {
  font-weight: 650 !important;
  font-size: 13px !important;
}

.gauge .pie-arc path {
  fill: rgba(100, 0, 0, 0.05) !important;
}

/* Font-Awesome Download setting */
.fa-exc {
  /* vertical-align: middle; */
  /* padding-left: 50px !important; */
  color: green;
  font-size: 50px !important;
}

/* Font-Awesome PDF setting */
.fa-pdf {
  /* vertical-align: middle; */
  /* padding-left: 50px !important; */
  color: orange;
  font-size: 50px !important;
}

/* Font-Awesome Print setting */
.fa-pnt {
  /* vertical-align: middle; */
  /* padding-left: 50px !important; */
  color: purple;
  font-size: 50px !important;
}
table {
  border-collapse: collapse;
  padding: 0; 
  margin: 0;
}

table.beg {
  position:absolute; 
  width:100%;
  height:100%;
  text-align:center; 
  vertical-align:middle;
  /* z-index: 9999; */
}
table.top {
  height: 300px !important;
  position: relative !important;
  top: -25px;
  /* line-height: 1.5px !important; */
  /* left: 8px; */
  border-collapse: collapse;
  padding: 0; 
  border: 0 !important;
  margin: 0;
}

table.mid {
  height: 300px !important;
  position: relative !important;
  top: -75px;
  /* line-height: 1.5px !important; */
  /* left: 8px; */
  border-collapse: collapse;
  padding: 0; 
  border: 0 !important;
  margin: 0;
}

table.bars {
  /* height: 300px !important; */
  position: relative !important;
  top: -75px;
  /* line-height: 1.5px !important; */
  /* left: 8px; */
  border-collapse: collapse;
  padding: 0; 
  border: 0 !important;
  margin: 0;
}

td.faz {
  padding-left: 25px !important;
  padding-top: 25px !important;
  text-align: center;
  font-style: normal;
  font-size: 12px !important;
  font-weight: bold !important;
}

td.sp {
  padding-left: 25px !important;
  /* padding-top: 25px !important; */
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 13px !important;
}

tr.lake {
  position: relative !important;
  top: -60px !important;
  left: 110px !important;
  line-height: 1.25 !important;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 13px !important;
}

tr.ndaa {
  position: relative !important;
  top: -70px !important;
  left: 60px !important;
  line-height: 1.25 !important;
  display: block !important;
  width: 350px;
  word-wrap: normal;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  font-size: 13px !important;
}