<table>
    <tr>
      <td>
        <a href="/sb_dash_fy19/NavyOverall">
          <span class="fa-stack fa-7x">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-tachometer-alt fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </td>
      <td>
        <a href="/sumTab/NavyOverall">
          <span class="fa-stack fa-7x">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-chart-line fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </td>        
    </tr>
    <tr>
      <td>FY19 Dashboards</td>
      <td>Year-to-Date Data</td>
    </tr>
    <tr>
      <td>
        <a href="/spendMaps">
          <span class="fa-stack fa-7x">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
         </span>
        </a>
      </td>
      <td>
        <a href="#">
          <span class="fa-stack fa-7x">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-search-dollar fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </td>
    </tr>
    <tr>
      <td>Location Spends</td>
      <td>FPDS-NG E-Z Search</td>
    </tr>
</table>