@import "~bootstrap/dist/css/bootstrap.css";
@import "@fortawesome/fontawesome-free/css/all.css";

body {
  /* height: 750px !important; */
  /* width: 1250px !important; */
  font-family: tahoma !important; 
  padding-top: 100px !important;
  vertical-align: center;
  margin: 0;
  padding: 0;
  text-align: center !important;
  font-style: normal;
  font-weight: bold;
  font-size: 18px !important;
  color:black;
  background-color: white;
}

/* Color matches header and footer */
.fa-square {
  color: #024272;
} 

td {
  padding-right: 30px;
}

td.spacer {
  padding-left: 44px;
}