<div id="test" *ngIf="post">
    <table>
        <tr>
            <td class="logo">
                <img src="assets/img/{{post.majCom}}-logo.png" height="120" align="middle">
            </td>
        </tr>
        <tr>
            <td class="date">
                <u>Fiscal Year 2020 FPDS-NG Data as of {{post.reportDate}}</u>
            </td>
        </tr>
    </table>
    <table class="top">  
        <tr>
            <td>
                <ngx-charts-advanced-pie-chart   
                    [view]="[400,250]"
                    [scheme]="colorScheme"
                    [valueFormatting]="sbFormat" 
                    [results]="post.spendBreak"
                    [percentageFormatting]="percFormat"
                    [animations]="false">

                </ngx-charts-advanced-pie-chart>  
                <tr class="ndaa" [hidden] *ngIf="post.ndaaAward > 0">
                <i>Puerto Rican based vendors and/or Local
                   Area Set Aside Awards accounted for 
                   ${{(post.ndaaAward/1000000).toFixed(2)}}M in 
                   additional FY20 SB awards.  These awards are 
                   credited twice (per NDAA 2019) in the below SB and 
                   Socioeconomic Group awards and performances.</i>
                </tr>
                <tr class="ndaa" [hidden] *ngIf="post.ndaaAward === 0 && post.lakeAward === 0">
                    <i><p><br><br><br><br><br></p></i>
                    </tr>
                <tr class="lake" [hidden] *ngIf="post.majCom === 'NAVAIR'">
                    <i>Lakehurst awarded ${{post.lakeAward}}M in removed<br>
                        SBIR awards funded by other MajComs.</i>
                </tr>
                <tr class="lake" [hidden] *ngIf="post.majCom !== 'NAVAIR' && post.lakeAward >= 1 && post.ndaaAward === 0">
                    <i>SB includes ${{post.lakeAward}}M  in SBIR funds <br>
                        awarded by NAVAIR Lakehurst.</i> 
                        <p><br><br><br><br></p>
                </tr> 
                <!-- <tr class="sspLake" [hidden] *ngIf="post.majCom !== 'NAVAIR' && post.lakeAward >= 1">
                    <i>SB includes ${{post.lakeAward}}M  in SBIR funds <br>
                        awarded by NAVAIR Lakehurst.</i> 
                </tr>      -->
                <tr class="sspLake" [hidden] *ngIf="post.majCom !== 'NAVAIR' && (post.lakeAward < 1 && post.lakeAward>0) && post.majCom!== 'NavyOverall'">
                    <i>SB includes ${{post.lakeAward*1000}}K  in SBIR funds awarded by NAVAIR Lakehurst.</i> 
                    <p><br><br><br><br></p>
                </tr>  
            </td>
            <td>
                <tr> 
                    <td class="title">Top Fiscal Year 2020 Year-to-Date Small Business Portfolio 
                                      Group Spends
                                       <!-- as of {{post.reportDate}} -->
                    </td>
                </tr>
                <tr>     
                    <ngx-charts-tree-map 
                        [view]="[805,230]"
                        [scheme]="portScheme" 
                        [results]="post.portGroups"
                        [tooltipDisabled]="false" 
                        [animations]="false" 
                        [valueFormatting]="portFormat">
                    </ngx-charts-tree-map>
                </tr>
            </td>  
        </tr>    
    </table>
    <table class="mid">
        <td>
            <tr>
                <ngx-gauge [type]="'full'" [size]="gaugeSize" [min]="0" [max]="post.maxSb*100" [value]="post.percSb*100"
                    [label]="'SB Goal: '+ (post.goalSb*100).toFixed(2) + '%'" [thick]="15" [foregroundColor]="post.sbColor"
                    [backgroundColor]="'gray'" [append]="'%'">
                </ngx-gauge>
                <ngx-gauge [type]="'full'" [size]="gaugeSize" [min]="0" [max]="post.maxSdb*100" [value]="post.percSdb*100"
                    [label]="'SDB Goal: ' + (post.goalSdb*100).toFixed(2) + '%'" [thick]="15" [foregroundColor]="post.sdbColor"
                    [backgroundColor]="'gray'" [append]="'%'">
                </ngx-gauge> 
                <ngx-gauge [type]="'full'" [size]="gaugeSize" [min]="0" [max]="post.maxSdvo*100" [value]="post.percSdvo*100"
                    [label]="'SDVO Goal: ' + (post.goalSdvo*100).toFixed(2) + '%'" [thick]="15" [foregroundColor]="post.sdvoColor"
                    [backgroundColor]="'gray'" [append]="'%'">
                </ngx-gauge>
                <ngx-gauge [type]="'full'" [size]="gaugeSize" [min]="0" [max]="post.maxWosb*100" [value]="post.percWosb*100"
                    [label]="'WOSB Goal: ' + (post.goalWosb*100).toFixed(2) + '%'" [thick]="15" [foregroundColor]="post.wosbColor"
                    [backgroundColor]="'gray'" [append]="'%'">
                </ngx-gauge> 
                <ngx-gauge [type]="'full'" [size]="gaugeSize" [min]="0" [max]="post.maxHubzone*100" [value]="post.percHubzone*100"
                    [label]="'HUBZone Goal: ' + (post.goalHubzone*100).toFixed(2) + '%'" [thick]="15" [foregroundColor]="post.hubzoneColor"
                    [backgroundColor]="'gray'" [append]="'%'">
                </ngx-gauge>  
            </tr>
            <ngx-charts-number-card [view]="[1200,85]" 
                    [scheme]="post.cardColor" 
                    [results]="post.cardSpend" 
                    [innerPadding]="5"
                    [valueFormatting]="dollarValueFormat">
            </ngx-charts-number-card>  
        </td>
    </table>
    <table class="bars">
            <tr>
                <td class="title">
                    Fiscal Year 2017, 2018, 2019, and FY20 Year-to-Date Prime Contract Awards through {{post.reportDate}} 
                </td>
            </tr>
            <tr>
                <td>
                    <ngx-charts-bar-horizontal-stacked 
                        class="chart-container" 
                        [view]="[1200, 220]" 
                        [scheme]="breakScheme"
                        [results]="post.breakAward" 
                        [legend]="true" 
                        [showGridLines]="true" 
                        [legendTitle]="null" 
                        [xAxis]="true" 
                        [showXAxisLabel]="true" 
                        [xAxisTickFormatting]="treeFormat"
                        [yAxis]="true" 
                        [showYAxisLabel]="true" 
                        [xScaleMax]="90" 
                        [tooltipDisabled]="false" 
                        [barPadding]="8"
                        [animations]="false">
                    </ngx-charts-bar-horizontal-stacked>
                </td>
            </tr>
        </table>
        <!-- <table>
            <tr>
                <td class="title">
                    SBIR Metrics for Reporting Period {{post.sbirDate}}
                </td>
            </tr>
            <tr>
                <td>
                    <ngx-charts-heat-map
                    [view]="[1200, 220]" 
                    [scheme]="breakScheme"
                    [results]="multi"
                    [legend]="showLegend"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    (select)="onSelect($event)">
                  </ngx-charts-heat-map>
                </td>
            </tr>
        </table> -->
       
</div>